body {
    font-size: 100%;
}
.block {
    text-align: center;
}

.block::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: calc(50% - 30%);
    vertical-align: middle;
}
.block::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 50px;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

.centered-dirty {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-logo {
    position: absolute;
    right: 0;
    bottom: 1em;
    width: 18%;
}
